{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Creer un nouvel Article</h1>

    {{ include('admin_article/_form.html.twig') }}

    <a href="{{ path('app_admin_article_index') }}">Retour à la liste d'article</a>
{% endblock %}
