{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="title">
			<h1>mon blog de mode</h1>


		</div>


		<div class="p-5 mb-4 bg-light rounded-3">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">La mode c'est quoi ?
				</h1>
				<p class="col-md-8 fs-4">La mode est le reflet d’une époque, d’un pays, d’une culture ou d’une population. Qu’elles soient vestimentaires, artistiques, musicales, décoratives, esthétiques, politiques, langagières, sportives ou géographiques… les modes se font et se défont, excluent ou embrigadent, touchent tous les milieux et tous les domaines. On peut l’aimer, la fuir, la rechercher, la mépriser… Mais de quoi parle-t-on, d’où cela vient-il et à quoi ça sert ?</p>

			</div>

		</div>

		<div class="row mb-2">
			<div class="col-md-6">
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<h3 class="mb-0">D’où vient la mode ?</h3>

						<p class="card-text mb-auto">Si ceux qui créent la mode sont souvent des artistes ou des créateurs, chacun peut se sentir vouloir en lancer une. Nous avons tous une part créative en nous… La mode est défendue par les critiques et par tous ceux qu’elle touche qui en deviennent des ambassadeurs… Là aussi, nous pouvons être impactés, pour le peu que nous en ayons envie car suivre la mode n’est pas obligatoire…
													
													                Difficile de dire à quand elle remonte, difficile d’imaginer si les hommes préhistoriques bavardaient sur la dernière peau de bête à la mode… Il semble cependant que ce soit à l’Antiquité que l’on retrouve les premiers phénomènes de mode telle que nous la connaissons aujourd’hui. C’est au Moyen-Age, grâce par exemple à l’ouverture commerciale de la Route de la soie, que la rencontre d’autres civilisations a permis l’essor de la mode.
            </p>
						<img src="https://images.pexels.com/photos/4124201/pexels-photo-4124201.jpeg?auto=compress&cs=tinysrgb&w=600" width="200" height="250" alt="image d'une femme avec un chapeau">
					</div>

				</div>
			</div>

			<div class="col-md-6">
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<strong class="d-inline-block mb-2 text-success"></strong>
						<h3 class="mb-0">C’est pour qui ?</h3>
						<p class="mb-auto">On suit la mode pour signaler son appartenance à un groupe social, un groupe de pensée, une forme d’esthétisme, pour se distinguer des autres ; donc pour signaler son originalité, ses refus, ses rejets sociaux, politiques… La mode rassemble et rassure. Mais on peut aussi être à la mode par conformisme.</p>

					</div>
					<div class="col-auto d-none d-lg-block">
						<img src="https://images.pexels.com/photos/4124201/pexels-photo-4124201.jpeg?auto=compress&cs=tinysrgb&w=600" width="200" height="250" alt="image d'une femme avec un chapeau">


					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
