{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Creer une nouvelle categorie</h1>

    {{ include('admin_category/_form.html.twig') }}

      <button type="button" class="btn btn-outline-dark">
        <a href="{{ path('app_admin_category_index') }}">retour a la liste des categories</a>
      </button>

    
{% endblock %}
