{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	
	<div class="container">
		<div class="p-5 mb-4 bg-light rounded-3">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">Les utilisateur
				</h1>
				<p class="col-md-8 fs-4">Pour modifier un utilisateur.</p>

			</div>
		</div>
		<div class="mb-4">
			<button type="button" class="btn btn-outline-dark">
				<a href="{{ path('app_admin_user_index') }}">retour a la liste d'utilisateur</a>
			</button>
		</div>

		{{ include('admin_user/_form.html.twig', {'button_label': 'Update'}) }}
		{{ include('admin_user/_delete_form.html.twig') }}
	</div>
{% endblock %}
