{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Creer un nouveau Commentaire</h1>

    {{ include('admin_comment/_form.html.twig') }}

    <button type="button" class="btn btn-outline-dark">
        <a href="{{ path('app_admin_comment_index') }}">retour à la liste de commentaire</a>
    </button>
    
{% endblock %}
